<tr>
  <td class="invert-closeb">
    <%= link_to cart_path(product_id: order_detail.product_id), method: :delete,
    data: {confirm: t("carts.confirm")} do %>
      <div class="rem">
        <div class="close1"></div>
      </div>
    <% end %>
  </td>
  <td class="invert-image">
    <%= link_to order_detail.product do %>
      <%= image_tag order_detail.product_picture.url %>
    <% end %>
  </td>
  <td class="invert">
    <%= link_to order_detail.product do %>
      <%= order_detail.product_name %>
    <% end %>
  </td>
  <td class="invert"><%= order_detail.product_price %></td>
  <%= form_tag cart_path(product_id: order_detail.product_id), method: :patch, remote: true do %>
  <td class="invert">
    <div class="quantity">
      <%= number_field_tag :quantity, nil, class: "form-control input-sm quantity_#{order_detail.product_id}", min: Settings.products.min_quantity,
          max: order_detail.product_quantity,
            value: order_detail.quantity, onChange: "OnChangeQuantity(#{order_detail.product_id})" %>
      <br />
      <%= hidden_field_tag "product_id", order_detail.product_id, class: "product_id" %>
    </div>
  </td>
  <td class="invert total_<%= order_detail.product_id %>"><%= t("product_price", price: amount(order_detail.product_price, order_detail.quantity)) %></td>
  <% end %>
</tr>
