<table class="timetable_sub">
  <thead>
    <tr>
      <th><%= t ".remove" %></th>
      <th><%= t ".product" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".price" %></th>
      <th><%= t ".quantity" %></th>
      <th><%= t ".amount" %></th>
    </tr>
  </thead>
  <%= render partial: "order_cart", collection: @order_details, as: :order_detail %>
  <tr>
    <th><%= t ".total" %></th>
    <td class="total_price"><%= t("product_price", price: total_price(@order_details)) %></td>
  </tr>
</table>
