<div class="single">
  <div class="container">
    <div class="col-md-6 single-right-left animated wow slideInUp animated" >
      <div class="grid images_3_of_2">
        <%= image_tag @product.picture.url, class: "thumbnail" %>
      </div>
    </div>
    <div class="col-md-6 single-right-left simpleCart_shelfItem animated wow slideInRight animated">
      <%= form_tag cart_path(product_id: @product.id), method: :post do %>
        <h3><%= @product.name %></h3>
        <p><span class="item_price"><%= @product.price %></span></p>
        <div class="color-quality">
          <div class="color-quality-right">
            <h5><%= t ".quantity" %></h5>
            <%= number_field_tag :quantity, nil,
              value: Settings.products.min_quantity, min: Settings.products.min_quantity,
              max: @product.quantity, required: true %>
          </div>
        </div>
        <div class="occasional">
          <h5><%= t ".types" %></h5>
          <div class="colr ert">
            <label class="radio">
              <input type="radio" name="radio" checked=""><i></i><%= @product.category.name %>
            </label>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="occasion-cart">
          <%= button_tag type: "submit", class: "item_add hvr-outline-out button2",
              title: t(".add_cart"), name: nil do %>
            <%= t(".add_cart") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="bootstrap-tab animated wow slideInUp animated">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
              <%= t "description" %>
            </a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
            <%= @product.detail %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
