<div class="header">
  <div class="container">
    <ul>
      <li>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <%= t ".free_and_fast" %>
      </li>
      <li>
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <%= t ".free_ship" %>
      </li>
      <li>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <a href="mailto:info@example.com"><%= t ".mail_to" %></a>
      </li>
    </ul>
  </div>
</div>
<div class="header-bot">
  <div class="container">
    <div class="col-md-3 header-left">
    </div>
    <div class="col-md-6 header-middle">
      <form>
        <div class="search">
          <input type="search" value="Search">
        </div>
        <div class="section_room">
          <select id="country" onchange="change_country(this.value)" class="frm-field required">
            <option value="null"><%= t ".all_cate" %></option>
          </select>
        </div>
        <div class="sear-sub">
          <input type="submit" value=" ">
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="col-md-3 header-right footer-bottom">
      <ul>
        <% if user_signed_in?%>
          <li>
            <%= link_to logout_path, class: "use1", method: :delete do %>
              <span><%= t ".logout" %></span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path, class: "use1" do %>
              <span><%= t ".login" %></span>
            <% end %>
          </li>
        <% end %>
        <li><a class="fb" href="#"></a></li>
        <li><a class="twi" href="#"></a></li>
        <li><a class="insta" href="#"></a></li>
        <li><a class="you" href="#"></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
